<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<div class="product-list">
		<div class="product-item">
			<img src="assets/Apple1.jpg" alt="Product 2">
			<h2>Apple-12</h2>
			<p>$149.99</p>
			<button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
		</div>
        <div class="product-item">
             <img src="assets/Apple1.jpg" alt="Product 1">
             <h2>Oppo F12</h2>
             <p>$99.99</p>
             <button class="quantity-button" data-action="increment">+</button>
             <span class="quantity">1</span>
             <button class="quantity-button" data-action="decrement">-</button>
             <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Samsung1.jpg" alt="Product 2">
            <h2>Oppo F15</h2>
            <p>$190.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Apple1.jpg" alt="Product 3">
            <h2>Samsung A5</h2>
            <p>$299.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Samsung1.jpg" alt="Product 2">
            <h2>Apple</h2>
            <p>$599.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Apple1.jpg" alt="Product 3">
            <h2>Vivo</h2>
            <p>$399.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Samsung1.jpg" alt="Product 2">
            <h2>ONE-Pluse</h2>
            <p>$149.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Apple1.jpg" alt="Product 3">
            <h2>Opp A15</h2>
            <p>$99.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Samsung1.jpg" alt="Product 2">
            <h2>Apple-11</h2>
            <p>$449.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Apple1.jpg" alt="Product 3">
            <h2>Samsung</h2>
            <p>$399.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Samsung1.jpg" alt="Product 2">
            <h2>Apple-12</h2>
            <p>$149.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Apple1.jpg" alt="Product 3">
            <h2>Oppo-9</h2>
            <p>$199.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Apple1.jpg" alt="Product 3">
            <h2>Samsung</h2>
            <p>$399.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Samsung1.jpg" alt="Product 2">
            <h2>Apple-12</h2>
            <p>$149.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Apple1.jpg" alt="Product 3">
            <h2>Oppo-9</h2>
            <p>$199.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Apple1.jpg" alt="Product 3">
            <h2>Samsung</h2>
            <p>$399.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-item">
            <img src="assets/Samsung1.jpg" alt="Product 2">
            <h2>Apple-12</h2>
            <p>$149.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
		<div class="product-item">
			<img src="assets/Samsung1.jpg" alt="Product 1">
			<h2>Product 1</h2>
			<p>$99.99</p>
            <button class="quantity-button" data-action="increment">+</button>
			<span class="quantity">1</span>
			<button class="quantity-button" data-action="decrement">-</button>
			<button class="add-to-cart">Add to Cart</button>
        </div>
    </div>
    

	</body>